<div id="search">
<form action="/search" method="GET">
  <label">Search course or author: </label>
  <input type="text" id="search" name="search" value="">
  <div class="center">
  <input type="submit" value="Submit">
  </div>
</form> 
</div>
<br></br>
<%= for course <- @courses do%>
  <div class="row">
    <div class="col-sm-2">
      <div>
        <img
          class="img-thumbnail"
          src= <%= course.img %>
          alt="Image could not load"
        ></img>
      </div>
    </div>
    <div class="col-sm-6 offset-1">
      <div>
        <a href=<%= course.url %> ><b><%= course.title %></b></a>
      </div>
      <div><%= course.author %></div>
      <div class="mt-2"><%= course.overview %></div>
      
      <div class="mt-3"><%= if course.free == true do %> Free <% else %> Paid <% end %> </div>
      <br></br>

    </div>
  </div>
<% end %>